.text-error { 
    text-decoration: red wavy underline;
}

.text-warning { 
    text-decoration: orange wavy underline;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #404040;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

u { 
    text-decoration: underline;
}