@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Emoji&display=swap');
  
:root {
    --fontsize: 14px; /* dont know size on SL */
}

body {
    font-size: var(--fontsize);
}

#output {
    font-size: 45px;
    font-family: "Roboto", "Noto Emoji", monospace; 
    max-width: 100vw;
    word-break: normal;
}

#output a:hover, #output a:visited, #output a:link, #output a:active
{
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #404040;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

u { 
    text-decoration: underline;
}